<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kamm's Shopping Site!</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<div class="navbar navbar-fixed-top" style="background-color: orange; margin-bottom: 20px;">
		<div class="header">
			Welcome to Kamm's Shopping Site: an example in LINQ syntax and advanced queries!
		</div>
	</div>
	<div class="searchBar">
		<p class="col-md-2" style="height: 100%;">Customize your search!</p>
		
		<div id="categoryDiv" class="col-md-2">
			<p>Category:</p>
			

			<select id="Category" name="Category">
				<option selected="selected">None</option>
				<option>Books</option>
				<option>Female</option>
			</select>
		</div>
		

		<button type="submit" class="searchButton">Search!</button>
	</div>
	<div class="container body-content shopBox">

		@RenderBody()

	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
